.user-info div,
.user-info p {
  text-align: center;
}

.active-rentals,
.saved-for-later {
  text-align: center;
  border: 1px solid black;
  margin: 10px;
}

.active-rentals h2,
.saved-for-later h2 {
  font-weight: 600;
  font-size: 20px;
}

.active-rental-wrapper,
.saved-items-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.profile-rental-item,
.profile-saved-item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid black;
  margin: 10px;
  padding: 20px;
  width: 200px;
}