.header-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
  position: sticky;
  top: 0px;
  left: 0%;
  right: 0%;
  background-color: white;
  z-index: 1000;
}

.logo-wrapper { cursor: pointer; }
.logo-wrapper img {
  width: 300px;
}

.header-search,
.header-auth {
  display: flex;
  align-items: center;
  width: 33%;
  padding: 0 20px;
}

.header-search { justify-content: flex-start; }
.header-auth { justify-content: flex-end; }

.header-search img {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.header-auth p {
  cursor: pointer;
  margin: 0 5px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

.header-auth p:hover {
  background-color: grey;
  color: white;
  transition: ease-in-out .1s;
}